<!doctype html>
<html lang="en">
<head th:replace="~{head.html :: commonHead(pageTitle='내 정보')}"></head>
<body>
<div th:replace="~{navbar.html :: navbar}"></div>
<div class="detail">
  <img src="https://placehold.co/300">
  <div>
  <div>
    <h4 th:text="'닉네임: ' + ${member.getDisplayName()}">닉네임</h4>
    <p th:text="'아이디: ' + ${member.getUsername()}">아이디</p>
  </div>
  <div>
    <button th:onclick="|location.href='/edit-member/' + [[${member.getId()}]]|" style="cursor: pointer" type="button">수정</button>

    <button th:onclick="'confirmDelete([[' + ${member.getId()} + ']])'" style="cursor: pointer">회원 탈퇴</button>
  </div>
  </div>
</div>
<script>
  function confirmDelete(id) {
    if (confirm("삭제하시겠습니까?")) {
      deleteMember(id);
    }
  }

  function deleteMember(id) {
    fetch(`/delete-member/${id}`, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => {
      if (response.ok) {
        alert("삭제 성공!");
        location.href = "/";
      } else {
        alert("Failed to delete item.");
      }
    });
  }

</script>
</body>
</html>