<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/main.css" rel="stylesheet">
  <title>Add Item</title>
</head>
<body>
<div th:replace="~{navbar.html :: navbar}"></div>
<form th:action="@{/item}" method="post" th:object="${item}">
  <label>
    <input type="text" name="title" placeholder="상품명" th:value="*{title}">
    <input type="text" name="price" placeholder="가격" th:value="*{price}">
    <button type="submit" th:if="${item.id == null}">등록</button>
    <button type="button" th:if="${item.id != null}" onclick="updateItem()">수정</button>
  </label>
</form>

<script>
  function updateItem() {
    const id = [[${item.id}]];
    const title = document.querySelector('input[name="title"]').value;
    const price = document.querySelector('input[name="price"]').value;

    fetch(`/update/${id}`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ title: title, price: price })
    })
    .then(response => {
      if (response.ok) {
        alert("수정 성공!");
        location.href = "/";
      } else {
        alert("Failed to update item.");
      }
    });
  }
</script>
</body>
</html>