<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/main.css" rel="stylesheet">
  <title>Add Item</title>
</head>
<body>

<form action="/item" method="post">
  <label>

  <input type="text" name="title" placeholder="상풍명">
  <input type="text" name="price" placeholder="가격">
  <button type="submit">등록</button>

  </label>
</form>

</body>
</html>